.str-main-box {
    padding: 30px;
    font-size: 14px;
    color: #4c4c4c;
    display: flex;
    /*width: 2000px;*/
}

.str-table {
    /*float: left;*/
    display: inline-block;
    margin-right: 1px;
}

.str-table:hover {
    transition: color 0.3s ease;
    color: black;
}

.str-header {
    text-align: center !important;
}

.str-sub-header {
    text-align: left !important;
    padding: 13px;
}

.str-sub-header:hover {
    background-color: #e6e6e6;
}

.str-table:hover .str-header {
    background-color: #dedede;
    transition: background 0.3s ease;
    color: #3c3c3c;
}

.str-body-cell {
    text-align: right;
    padding-left: 23px;
}

.str-body-cell-neg {
    background-color: #FCE4D6;
}

.str-table:hover .str-body-cell {
    border: 1px solid #4d4d4d;
}

.table-side-cell {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.trans-cell {
    border: none !important;
    background-color: transparent !important;
    color: transparent;
}

.bold {
    font-weight: 600;
}
